
body{
  background-color: black;

}


.arena{
  background-color: transparent;

}


td{
  width:20px;
  height:20px;
}

.snake{
  background-color: aqua;
}

.borders{
  background-color: fuchsia;

}

.food{
  background-color: lime;
}
