
body{
  background-color: black;

}

h1{
  font-size: 20px monospace;
  color:white;
  float:right;
  padding-right:7em;
  margin-top:300px;
}


.arena{
  background-color: transparent;

}


td{
  width:20px;
  height:20px;
}

.snake{
  background-color: aqua;
  border-radius: 5px 10px;
}

.borders{
  background-color: fuchsia;

}

.food{
  background-color: lime;
  border-radius: 50%;
}
